<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Form</title>
    <link rel="stylesheet" href="./css/form.css">
</head>
<body>


<h2>MadLib Form</h2>

<form action="./madlib" method="get">

    <table class="center">

        <tr>
            <td><label for="name">Name: </label></td>
            <td><input type="text" id="name" name="name" placeholder="Your Name"></td>
        </tr>
        <tr>
            <td><label for="city">Birth Location: </label></td>
            <td><input type="text" id="city" name="city" placeholder="someplace cool"></td>
        </tr>
        <tr>
            <td><label for="animal">Strange Animal: </label></td>
            <td><input type="text" id="animal" name="animal" placeholder="cool animal"></td>
        </tr>
        <tr>
            <td><label for="activity">Funny Activity: </label></td>
            <td><input type="text" id="activity" name="activity" placeholder="funny activity"></td>
        </tr>
        <tr>
            <td><label for="number">Huge Number: </label></td>
            <td><input type="number" id="number" name="number" placeholder="integer"></td>
        </tr>
        <tr>
            <td><p>Is The Strange Animal Predatory: </p></td>
            <td><input type="radio" id="predator_yes" name="predator" value="Yes">
                <label for="predator_yes">Yes</label>
                <input type="radio" id="predator_no" name="predator" value="No">
                <label for="predator_no">No</label></td>
        </tr>

        <tr>
            <td><label for="image">Preferred Image: </label></td>
            <td>
                <select id="image" name="image">
                    <option value="dog">Dog</option>
                    <option value="laughing">Laughing Face</option>
                    <option value="god">God</option>
                </select>
            </td>
        </tr>
    </table>

    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>