<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron - Web Class</title>
    <meta name="description" content="Aaron's webpage for the Fall '21 Web Development Class at TJHSST.">
    <meta name="author" content="Flytre">

    <meta property="og:title" content="Aaron - Web Class">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://user.tjhsst.edu/2022arahman/">
    <meta property="og:description" content="Aaron's webpage for the Fall '21 Web Development Class at TJHSST.">
    <meta property="og:image" content="assets/logo.png">


    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/labs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="js/all.js"></script>
    <script src="js/labs.js"></script>
</head>
<body>
<header id="header"></header>
<section id="header-break"></section>
<div class="center">
    <p>Labs</p>

    <div id="labs">
        <div class="lab" onclick="window.location='./madlib_form';">
            <div class="inner">Madlibs</div>
        </div>
        <div class="lab" id="number_button">Number Facts</div>
        <div class="lab" onclick="window.location='./weather_form';">Weather</div>
        <div class="lab" onclick="window.location='./voting';">Voting</div>
        <div class="lab" onclick="window.location='./premium';">Cookie Clicker</div>
        <div class="lab" onclick="window.location='./houses';">Houses</div>
    </div>
</div>

<script>
    $("#number_button").on('click', () => {
        window.location = "./" + Math.floor(Math.random() * 100);
    })
</script>

<footer id="footer"></footer>
</body>
</html>