<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voting Form</title>
    <meta name="description" content="Vote on your favorite doggo!">
    <meta name="author" content="Flytre">

    <meta property="og:title" content="Voting Form">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://user.tjhsst.edu/2022arahman/">
    <meta property="og:description" content="Vote on your favorite doggo!">
    <meta property="og:image" content="assets/logo.png">


    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/voting.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/all.js"></script>
    <script src="js/voting.js"></script>

</head>
<body>
<header id="header"></header>


<section id="header-break"></section>


<p class="center">Vote for your favorite dog!</p>

<table class="center" style="color: white">
    <tr>
        <td><img class="doggo" src="assets/voting/fido.png"></td>
        <td class="dog_name" id="fido">Fido</td>
        <td><img class="doggo" src="assets/voting/puffle.png"></td>
        <td class="dog_name" id="puffle">Puffle</td>
    </tr>
    <tr>
        <td><img class="doggo" src="assets/voting/rex.png" onclick="console.log('RAT')"></td>
        <td class="dog_name" id="rex">Rex</td>
        <td><img class="doggo" src="assets/voting/rick.png"></td>
        <td class="dog_name" id="rick">Rick</td>
    </tr>
</table>

<footer id="footer"></footer>
</body>
</html>