
a {
    color : white;
}


a:hover {
    color: #777;
}

.background-video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

.background-video-image {
    display: none;
    object-fit: cover;
}

@media only screen and (max-width: 900px) {
    .background-video {
        display: none;
    }

    .background-video-image {
        display: block;
    }
}

.astro {
    font-family: a_astro_spaceregular, sans-serif;
}