#cookie {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    transition: transform 0.125s;
    transform: scale(0.99);
}

#premium {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#cookie:hover {
    transform: scale(1.1);
}

#cookie:active {
    transform: scale(1.2);
}

@keyframes GoUp {
    0% {
        opacity: 1;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}

.plus1 {
    pointer-events:none;
    width: 10%;
    height: 10%;
}

.cookie_1 {
    max-width: 200%;
    max-height: 200%;
    opacity: 50%;
}